@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* PERSONAL PROJECT IMAGES CREATED IN CANVA WITH 2000x1606 IMG SIZE*/
:root {
  color-scheme: light dark;
  background-color: white;
  font-family: "Chakra Petch", serif;
  font-weight: 400;
  font-style: normal;
  color: #393E46;
  margin: 0px;
  padding: 0%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

